.result {
  background-color: hsl(224, 36%, 15%);
  border-radius: 10px;
  /* border: hsl(224, 36%, 15%); */
  /* height: 150px; */
  display: flex;
  /* text-align: right; */
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 60px;
}

.result h4 {
  color: #fff;
  /* display: inline-block; */
  /* padding: 3rem; */
  /* padding-right: 1rem; */
}
